<div ng-controller="MainCtrl">
    <div class="mainBody">
        <h3>Unscramble the Words to Make a Sentence</h3>
        <div class="container-fluid">
            <ul ng-model="word1" as-sortable="sortableOptions">
                <li ng-repeat="item in word1" as-sortable-item class="as-sortable-item" id="word1">
                    <div as-sortable-item-handle class="as-sortable-item-handle sortElement" style="height:50px">
                        <span data-ng-bind="item.name"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <ul ng-model="word2" as-sortable="sortableOptions">
                <li ng-repeat="item in word2" as-sortable-item class="as-sortable-item" id="word2">
                    <div as-sortable-item-handle class="as-sortable-item-handle sortElement" style="height:50px">
                        <span data-ng-bind="item.name"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <ul ng-model="word3" as-sortable="sortableOptions">
                <li ng-repeat="item in word3" as-sortable-item class="as-sortable-item" id="word3">
                    <div as-sortable-item-handle class="as-sortable-item-handle sortElement" style="height:50px">
                        <span data-ng-bind="item.name"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <ul ng-model="word4" as-sortable="sortableOptions">
                <li ng-repeat="item in word4" as-sortable-item class="as-sortable-item" id="word4">
                    <div as-sortable-item-handle class="as-sortable-item-handle sortElement" style="height:50px">
                        <span data-ng-bind="item.name"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>